.question__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 445px;
  width: 610px;
  padding: 15px;
}

.question_container {
  align-self: flex-start;
  margin-bottom: 25px;
}

.question-no {
  margin: 5px 0;
  font-size: 23px;
}

.question {
  margin: 3px 0;
  font-size: 30px;
  /* color:rgba(54, 55, 129, 0.801); */
}

.option_container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.option {
  align-self: flex-start;
  margin: 10px;
  font-size: 25px;
  padding: 10px;
  flex: 1;
  width: 500px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.next__button {
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  background-color: rgb(239, 241, 86);
  margin-top: 30px;
  align-self: flex-end;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .question__container {
    height: 400px;
    width: 550px;
    border-radius: 15px;
    padding: 25px;
  }
  .question_container {
    margin-bottom: 10px;
  }

  .question-no {
    margin: 5px 0;
    font-size: 18px;
  }

  .question {
    margin: 3px 0;
    font-size: 23px;
  }

  .option_container {
    width: 500px;
  }

  .option {
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    flex: 1;
    width: 500px;
    cursor: pointer;
  }

  .next__button {
    margin-top: 10px;
    border-radius: 5px;
  }
}

@media (max-width: 425px) {
  .question__container {
    height: 440px;
    width: 320px;
    padding: 10px;
    justify-content: space-between;
  }
  .question_container {
    margin-bottom: 5px;
  }

  .question-no {
    margin: 5px 0;
    font-size: 14px;
  }

  .question {
    margin: 5px 0;
    font-size: 18px;
  }

  .option_container {
    width: 280px;
  }

  .option {
    margin: 10px;
    font-size: 16px;
    padding: 10px;
    flex: 1;
    width: 280px;
  }

  .next__button {
    max-height: 25px;
    max-width: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
    align-self: center;
  }
}

@media (max-width: 350px) {
  .question__container {
    height: 420px;
    width: 260px;
    padding: 20;
  }

  .question_container {
    margin-bottom: 5px;
  }

  .question-no {
    margin: 5px 0;
    font-size: 14px;
  }

  .question {
    margin: 5px 0;
    font-size: 18px;
  }

  .option_container {
    width: 250px;
  }

  .option {
    margin: 10px 0px;
    font-size: 16px;
    padding: 10px;
    flex: 1;
    width: 240px;
  }

  .next__button {
    max-height: 25px;
    max-width: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
    align-self: center;
  }
}
